<h1>Polls#create</h1>
<p>Find me in app/views/polls/create.html.erb</p>


<p>
Private Edit URL:<br />
<%= link_to 'localhost:3000/edit/:id', edit_poll_path(@poll.id) %>
<!-- link to helper to calculate a new address! -->
</p>

<p>
Public Share URL:<br />
<%= link_to 'localhost:3000/show/:id', poll_path(@poll.id) %>
</p>
