<h1>Polls#index</h1>
<p>Find me in app/views/polls/index.html.erb</p>


<%= link_to 'Create a New Poll', new_poll_path %>

<p>
  Here's the Polls already created: (for dev purposes only) <br />
<table>
  <% @polls.each_with_index do |poll, i| %>
  <tr><td> <%= i+1 %>. </td>

    <td> <%= link_to poll.title, "/polls/#{poll.id}/admin/#{poll.admin_token}" %></td>
  </tr>
<% end %>
</table>
</p>


